#content-container {
  max-width: 1440px;
}

.form {
  margin-left: 250px;
  position: absolute;
  top: 68%;
  bottom: -55%;
  left: 83%;
  width: 350%;
  transform: translate(-50%, -50%);
}

.container {
  margin-top: 100px;
}